.container {
  display: flex;
  padding: 5px;
}
.header-text {
  display: flex;
  padding-right: 10px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: #343a40;
}
.block-right {
  display: block;
  padding-left: 0px;
}
.block {
  width: 250px;
  padding: 5px 10px;
}
.placeholder {
  margin-bottom: 5px
}
.input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  line-height: 15px;
}

.text {
  width: 250px;
  margin-left: 10px;
  font-size: 20px;
  font-style: italic;
}

.btn {
  padding: 10;
  font-weight: bold;
  margin: 10px 10px;
  padding: 10px 10px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  background: #e83e8c;
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px 
  color: white;
}